@charset "UTF-8";



/* TABLET */
@media screen and (min-width: 700px) and (max-width: 1399px){ 

    section.lamp{
        margin: 0px 0px 10px 0px;
        display: block;
        height: 80px;
        
    }

    header > nav > button > span {
        font-size: 55px !important;
    }

    body > section.penguin > a > img{
     width: 100px;
    }

    header > nav > button > img {
        margin-top: 3px;
        width: 40px;
    }

    header > h1.nome {
        font-size: 40px;
   }

    section > article > span > p {
    font-size: 35px;
    margin-bottom: 7px;
}

    section > button.btnProjeto > ul.menuProjetos > li{
       font-size: 14px;
   }

    section.dividir-em-dois{
    display: block;
    text-align: center;
   }

    section > img.titulo {
    width: 400px;
    margin:  0px auto 30px auto;
}

    section > button.btnProjeto{
    display: inline-block;
    padding: 0px 258px 303px 0px;
    width: 100px;
    height: 200px;
    margin: 20px;
}

section > button.btnProjeto > ul > img.projetos {
    width: 250px;
    height: 250px;
}

 section > button.btnProjeto > ul.menuProjetos > li{
    font-size: 22px;
    width: 257px;
    padding: 10px 0px;
    font-weight: bold;
}

header > nav > ul > li > a{
    font-size: 30px;
   }

}



/* PC */


@media screen and (min-width: 1400px) {
    body > section.penguin:hover > p{
        display: inline-block;
    }

    

    body > section.penguin > a > img{
     width: 100px;
    }

    section.lamp{
        margin: 0px auto 5px auto;
        display: block;
        height: 80px;
        
    }

    header > nav > ul > li > a:hover{
        text-decoration: underline;
        background-color: white;
        color: black;
    }

    header > nav > button {
        display: none;
    }

    header > h1.nome {
        margin: auto;
        font-size: 40px;
   }

 section > article > span > p {
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
}

 section > article > span {
    display: flex;
   text-align: center;
    flex-direction: row;
    
 }

 section > button.btnProjeto > ul.menuProjetos > li{
      font-size: 14px;
   }

 section.dividir-em-dois{
    display: block;
    text-align: center;
   }

 section > img.titulo {
    width: 400px;
    margin:  auto;
}

 section > button.btnProjeto{
    display: inline-block;
    padding: 0px 258px 303px 0px;
    width: 100px;
    height: 200px;
    margin: 15px;
}

 section > button.btnProjeto > ul > img.projetos {
    width: 250px;
    height: 250px;
}

 section > button.btnProjeto > ul.menuProjetos > li{
    font-size: 22px;
    width: 257px;
    padding: 10px 0px;
    font-weight: bold;
}

header > nav > ul > li > a{
   font-size: 30px;
   }

} 